 header login %
--------------------------------------------------------------
|  Hostname: {{name}}
|  IP: {{ip}}
|  Slot 1:
|      Model: {{model}}
|      SN: {{sn}}
|      Room: {{jigui}}
|      Rack: {{u}}
--------------------------------------------------------------
%